.conductorBox{
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    max-width: 375px;
    padding: 2em;
    box-shadow: 3px 6px 32px 0px rgba(136,136,136,0.39);

}

.nameAndId{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
}

.conductorName,
.conductorId{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nameHead{
    margin-left: 0.5em;
}
.idHead{
    margin-right: 0.5em;
}

.spaceIndicationButton{
    width: 33%;
}

.locationSharing{
    width: 75%;
    margin-right: 3em;
}